<div class="footer">
    <div class="margin-x">
        <div class="row">
            <div class="row">
                <div class="col-8"><span class="vname">© 2015 Bản quyền của Trường Đại học
                        Vinh</span><br><span class="v-title">Địa chỉ: Viện Nông nghiệp và Tài nguyên. 182 Lê Duẩn -
                        Thành Phố Vinh
                        - tỉnh Nghệ
                        An<br>Điện thoại: (038)3856394 Fax: (038)3855269 Email: nntn.vinhuni.edu@gmail.com<br>Chịu trách
                        nhiệm nội
                        dung: GV.TS. Nguyễn Đình Vinh - Bí thư Đảng bộ bộ phận, Viện trưởng<br>Ghi rõ nguồn "Cổng TT Đại
                        học Vinh"
                        khi sử dụng lại nội dung trên cổng thông tin.</span></div>
                <div class="col-2">
                    <div class="copyright">
                        <ul>
                            <li><a href="#">Liên hệ</a></li>
                            <li><a href="#">Sitemap</a></li>
                            <li><a href="#">RSS</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-2"></div>
            </div>
            <div id="dnn_vbFooter_Visitor_POP">
                <div class="hidden-xs">
                    <div class="globalview">
                        <div class="globalview1">
                            <div>Đang Online:</div><strong>121</strong>
                        </div><br>
                        <div>Đã truy cập:</div><strong>151,234,423</strong>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
<!-- scroll to top -->
<button class="scroll-to-top rounded">
    <i class="fas fa-angle-up"></i>

</button>
</body>

</html>