<div class="header">
  <div class="d-flex margin-x top-nav">
    <div class="d-flex col-7">
      <div class="menu-btn">
        <i class="fas fa-bars"></i>
      </div>
      <div class="content-head first nlast">
        <a class="a-text" href="#">ĐH VINH</a>
      </div>
      <div class="content-head nlast">
        <a class="a-text" href="#">CÁN BỘ</a>
      </div>
      <div class="content-head nlast">
        <a class="a-text" href="#">HỌC VIÊN</a>
      </div>
      <div class="content-head nlast">
        <a class="a-text" href="#">SINH VIÊN</a>
      </div>
      <div class="content-head nlast">
        <a class="a-text" href="#">HỌC SINH</a>
      </div>
      <div class="content-head nlast">
        <a class="a-text" href="#">CỰU SINH VIÊN</a>
      </div>
      <div class="content-head last">
        <a class="a-text" href="#">PHỤ HUYNH</a>
      </div>
    </div>
    <div class="d-flex col-5">
      <div class="d-flex col-4"></div>
      <div class="d-flex col-8">
        <div class="d-flex right-head">
          <a class="d-flex a-text" href="#">
            <i class="fa fa-user"></button></i>
            <p class="pt-2 px-1 fw-light">Login</p>
          </a>
        </div>
        <div class="ver vn-ver right-head">
          <a class="a-text fw-light d-flex" href="#"><img title="vietn" alt="Tiếng việt"
              src="/images/vi-VN.gif" style="width:24px;height:16px">
            <p class="px-1" style="margin-left:3px;">Tiếng
              việt</p>
          </a>
        </div>
        <div class="ver en-ver right-head">
          <a class="a-text fw-light d-flex" href="#"><img title="tienganh" alt="Tiếng anh"
              src="/images/en-GB.gif" style="width:24px;height:16px">
            <p class="px-1" style="margin-left:3px;">English</p>
          </a>
        </div>

      </div>
    </div>

  </div>
  <div class="v-banner">
    <div class="margin-x py-3">
      <a class="col-8" href="/">
        <img alt="Viện Nông nghiệp và Tài nguyên" title="Viện Nông nghiệp và Tài nguyên"
          src="/images/VienNongNghiepVaTaiNguyen.jpg" class="img-responsive">
      </a>
    </div>
  </div>
</div>


<div class="nav-default">
  <div class="margin-x">
    <ul class="nav">
      <li class="nav-item"><a class="nav-link" href="/"><i class="fas fa-home" style="font-size: 18px;"></i></a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="">GIỚI THIỆU</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="">Giới thiệu chung</a></li>
          <li><a class="dropdown-item" href="">Phân công nhiệm vụ</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="">CƠ CẤU TỔ CHỨC</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="">Lãnh đạo viện</a></li>
          <li><a class="dropdown-item" href="">Đảng bộ bộ phận</a></li>
          <li><a class="dropdown-item" href="">Chi bộ cán bộ</a></li>
          <li><a class="dropdown-item" href="">Công đoàn bộ phận</a></li>
          <li><a class="dropdown-item" href="">Liên chi đoàn</a></li>
          <li><a class="dropdown-item" href="">Cố vấn học tập, Trợ lý, Văn phòng</a></li>
          <li><a class="dropdown-item" href="">Bộ môn Khoa học cây trồng</a></li>
          <li><a class="dropdown-item" href="">Bộ môn Khuyến nông và phát triển nông thôn</a></li>
          <li><a class="dropdown-item" href="">Bộ môn Nuôi trồng thủy sản và chăn nuôi</a></li>
          <li><a class="dropdown-item" href="">Bộ môn Quản lý Đất đai</a></li>
          <li><a class="dropdown-item" href="">Bộ môn Quản lý Tài nguyên và Môi trường</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">TIN TỨC SỰ KIỆN</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">TUYỂN SINH</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="">ĐÀO TẠO</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="">Khóa học</a></li>
          <li><a class="dropdown-item" href="">Chương trình đào tạo</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">NGHIÊN CỨU KHOA HỌC</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">HOẠT ĐỘNG ĐOÀN THỂ</a>
      </li>
    </ul>
  </div>

</div>