<div class="side-bar">
  <div class="close-btn">
    <i class="fas fa-times"></i>
  </div>
  <div class="menu">
    <div class="item"><a href="#">HOME</a></div>
    <div class="item">
      <a class="sub-btn">GIỚI THIỆU<i class="fas fa-angle-right dropdown"></i></a>
      <div class="sub-menu">
        <a href="#" class="sub-item">Giới thiệu chung</a>
        <a href="#" class="sub-item">Phân công nhiệm vụ</a>
      </div>
    </div>
    <div class="item">
      <a class="sub-btn">CƠ CẤU TỔ CHỨC<i class="fas fa-angle-right dropdown"></i></a>
      <div class="sub-menu">
        <a href="#" class="sub-item">Lãnh đạo Viện</a>
        <a href="#" class="sub-item">Đảng bộ bộ phận</a>
        <a href="#" class="sub-item">Chi bộ cán bộ</a>
        <a href="#" class="sub-item">Công đoàn bộ phận</a>
        <a href="#" class="sub-item">Liên chi đoàn</a>
        <a href="#" class="sub-item">Cố vấn học tập, Trợ lý, Văn phòng</a>
        <a href="#" class="sub-item">Bộ môn Khoa học cây trồng</a>
        <a href="#" class="sub-item">Bộ môn Khuyến nông và phát triển nông thôn</a>
        <a href="#" class="sub-item">Bộ môn Nuôi trồng thủy sản và chăn nuôi</a>
        <a href="#" class="sub-item">Bộ môn Quản lý Đất đai</a>
        <a href="#" class="sub-item">Bộ môn Quản lý Tài nguyên và Môi trường</a>
      </div>
    </div>
    <div class="item"><a href="#">TIN TỨC - SỰ KIỆN</a></div>
    <div class="item"><a href="#">TUYỂN SINH</a></div>
    <div class="item">
      <a class="sub-btn">ĐÀO TẠO<i class="fas fa-angle-right dropdown"></i></a>
      <div class="sub-menu">
        <a href="#" class="sub-item">Khóa học</a>
        <a href="#" class="sub-item">Chương trình đào tạo</a>
      </div>
    </div>
    <div class="item"><a href="#">HOẠT ĐỘNG ĐOÀN THỂ</a></div>
  </div>

</div>