<div class="slider">
    <div class="d-flex margin-x">
        <div class="show-image col-8">
            <span class="control prev" style="margin-left: 12px;">
                <i class="fa fa-chevron-left text-dark"></i>
            </span>
            <span class="control next" style="margin-right: 12px;">
                <i class="fa fa-chevron-right text-dark"></i>
            </span>
            <div class="img-wrap">
                <img src="./images/img1.jpeg" alt="" />
            </div>
        </div>
        <div class="list-img col-4">
            <div class="col">
                <div>
                    <img src="./images/img1.jpeg" alt="" />
                </div>
                <div>
                    <img src="./images/img2.jpeg" alt="" />
                </div>
                <div>
                    <img src="./images/img3.jpeg" alt="" />
                </div>
                <div>
                    <img src="./images/img4.jpeg" alt="" />
                </div>
                <div>
                    <img src="./images/img5.jpeg" alt="" />
                </div>
                <div>
                    <img src="./images/img6.jpeg" alt="" />
                </div>
                <div>
                    <img src="./images/img7.jpeg" alt="" />
                </div>
                <div>
                    <img src="./images/img8.jpeg" alt="" />
                </div>
                <div>
                    <img src="./images/img9.jpeg" alt="" />
                </div>
            </div>

        </div>
    </div>
</div>
<div class="all-content content-slider">
    <div class="option">
        <div class="d-flex margin-x bg-white">
            <div class="col-2 text-center">
                <a href="">
                    <div class="option-border">
                        <span class="img-option"><img alt=" Lịch tuần"
                                src="/images/lich.png"></span>
                        <div class="pt-2">Lịch tuần</div>
                    </div>
                </a>

            </div>
            <div class="col-2 text-center">
                <a href="http://mail.google.com/a/vinhuni.edu.vn">
                    <div class="option-border">
                        <span class="img-option"><img alt=" Lịch tuần"
                                src="/images/mail.png"></span>
                        <div class="pt-2">Thư điện tử</div>
                    </div>
                </a>

            </div>
            <div class="col-2 text-center">
                <a href="">
                    <div class="option-border">
                        <span class="img-option"><img alt=" Lịch tuần"
                                src="/images/vanban.png"></span>
                        <div class="pt-2">Văn bản - Biểu mẫu</div>
                    </div>
                </a>

            </div>
            <div class="col-2 text-center">
                <a href="">
                    <div class="option-border">
                        <span class="img-option"><img alt=" Lịch tuần"
                                src="/images/baigiang.png"></span>
                        <div class="pt-2">Bài giảng - Giáo trình</div>
                    </div>
                </a>

            </div>
            <div class="col-2 text-center">
                <a href="">
                    <div class="option-border">
                        <span class="img-option"><img alt=" Lịch tuần"
                                src="/images/thongtin.png"></span>
                        <div class="pt-2">Thông tin việc làm</div>
                    </div>
                </a>

            </div>
            <div class="col-2 text-center">
                <a href="">
                    <div class="option-border">
                        <span class="img-option"><img alt=" Lịch tuần"
                                src="/images/hoidap.png"></span>
                        <div class="pt-2">Hỏi đáp</div>
                    </div>
                </a>

            </div>
        </div>
    </div>
</div>