<div class="all-content content-blog">
  <div class="show-blog py-4">
    <div class="d-flex margin-x">
      <div class="col-8">
        <div class="category-blog">
          <div class="category-name">
            <a class="a-orange" href="">
              <span>TIN TỨC - SỰ KIỆN ></span>
            </a>
          </div>
          <div class="blog-in d-flex" style="margin-right: 12px;">
            <div class="col-6 bgr-blog">
              <a href="">
                <div class="mx-2">
                  <div class="img-active py-2">
                    <img
                      src="https://viennntn.vinhuni.edu.vn/data/31/upload/480/images//2022/10/z3791337020054_84e0e4b1d076a80c4f6ea87a3cab6bdd.jpg?width=281&height=190&mode=crop&anchor=middlecenter&scale=both"
                      alt="" width="100%">
                  </div>
                  <div class="title-active py-2">
                    <span style="font-size:17px;">Trao học bổng “Hạt giống tài năng” và tư vấn hướng nghiệp cho sinh
                      viên ngành Chăn nuôi – Thú y,
                      Nuôi trồng thủy sản</span>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-6 bgr-blog nactive">
              <div class="mx-2">
                <a href="">
                  <div class="d-flex py-2">
                    <div class="col-5">
                      <img
                        src="https://viennntn.vinhuni.edu.vn/data/31/upload/480/images//2022/02/logo.png?width=131&height=87&mode=crop&anchor=middlecenter&scale=both"
                        alt="">
                    </div>
                    <div class="col-7">
                      <div class="text-nactive">
                        <span>Kỷ niệm 77 năm ngày truyền thống ngành Quản lý đất đai Việt Nam (03/10/1945 -
                          03/10/2022)</span>
                      </div>
                    </div>
                  </div>
                </a>
                <a href="">
                  <div class="d-flex py-2">
                    <div class="col-5">
                      <img
                        src="https://viennntn.vinhuni.edu.vn/data/31/upload/480/images//2022/02/logo.png?width=131&height=87&mode=crop&anchor=middlecenter&scale=both"
                        alt="">
                    </div>
                    <div class="col-7">
                      <div class="text-nactive">
                        <span>Kỷ niệm 77 năm ngày truyền thống ngành Quản lý đất đai Việt Nam (03/10/1945 -
                          03/10/2022)</span>
                      </div>
                    </div>
                  </div>
                </a>
                <a href="">
                  <div class="d-flex py-2">
                    <div class="col-5">
                      <img
                        src="https://viennntn.vinhuni.edu.vn/data/31/upload/480/images//2022/02/logo.png?width=131&height=87&mode=crop&anchor=middlecenter&scale=both"
                        alt="">
                    </div>
                    <div class="col-7">
                      <div class="text-nactive">
                        <span>Kỷ niệm 77 năm ngày truyền thống ngành Quản lý đất đai Việt Nam (03/10/1945 -
                          03/10/2022)</span>
                      </div>
                    </div>
                  </div>
                </a>
                <a href="">
                  <div class="d-flex py-2">
                    <div class="col-5">
                      <img
                        src="https://viennntn.vinhuni.edu.vn/data/31/upload/480/images//2022/02/logo.png?width=131&height=87&mode=crop&anchor=middlecenter&scale=both"
                        alt="">
                    </div>
                    <div class="col-7">
                      <div class="text-nactive">
                        <span>Kỷ niệm 77 năm ngày truyền thống ngành Quản lý đất đai Việt Nam (03/10/1945 -
                          03/10/2022)</span>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="content-right mb-3">
          <div class="bg-white px-2" style="height: 460px;">
            <ul class="nav nav-pills py-3" id="pills-tab" role="tablist">
              <li class="nav-item" role="presentation">
                <button class="nav-link active" id="pills-video-tab" data-bs-toggle="pill" data-bs-target="#pills-video"
                  type="button" role="tab" aria-controls="pills-video" aria-selected="true">VIDEO</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-audio-tab" data-bs-toggle="pill" data-bs-target="#pills-audio"
                  type="button" role="tab" aria-controls="pills-audio" aria-selected="false">AUDIO</button>
              </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
              <div class="tab-pane fade show active" id="pills-video" role="tabpanel" aria-labelledby="pills-video-tab">
                <div class="py-3">
                  <div class="video-container">
                    <div class="show-video">
                      <video width="300" height="200" controls>
                        <source src="/videos/uitBCRedwtU.mp4?" type="video/mp4">
                      </video>
                    </div>
                    <div class="title-video">
                      <i class="fas fa-play-circle"></i>
                      <span class="title-name">Giới thiệu Trường Đại học Vinh</span>
                      <hr>
                    </div>
                  </div>
                  <div class="list-video mt-2">
                    <button id="uitBCRedwtU" class="title-video pb-1">
                      <i class="fas fa-play-circle"></i>
                      <span style="font-size: 15px;">Giới thiệu Trường Đại học Vinh</span>
                    </button>
                    <button id="tVANw1umgmY" class="title-video pb-1">
                      <i class="fas fa-play-circle"></i>
                      <span style="font-size: 15px;">Dấu ấn Trường Vinh</span>
                    </button>
                    <button id="unqyqIWGgBM" class="title-video pb-1">
                      <i class="fas fa-play-circle"></i>
                      <span style="font-size: 15px;">Giới thiệu Trường Đại học Vinh</span>
                    </button>
                    <button id="MsbltskXaew" class="title-video pb-1">
                      <i class="fas fa-play-circle"></i>
                      <span style="font-size: 15px;">Đại học Vinh - ngọn đuốc sáng mãi</span>
                    </button>

                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="pills-audio" role="tabpanel" aria-labelledby="pills-audio-tab">
                <div class="py-3 audio-play">
                  <audio controls>
                    <source src="./images/audio.mp3" type="audio/ogg">
                    Your browser does not support the audio element.
                  </audio>
                </div>
                <button class="audio-infor">
                  <div class="d-flex show-audio">
                    <div class="col-1 audio-number">
                      1
                    </div>
                    <div class="col-10 audio-name">
                      <i class="fa fa-music color-red" style="font-size: 10px;color:brown;"></i>
                      <span class="text-green">Bài ca Trường Đại học Sư phạm Vinh</span>
                    </div>
                    <div class="col-1 bg-success pt-2">
                      <a><i class="fa fa-pause" style="color: white;"></i></a>
                    </div>
                  </div>

                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="content-right bdt-gray pb-3">
          <div class="bg-white pt-2">
            <div class="title-lib">
              <span>THƯ VIỆN ẢNH</span>
            </div>
            <div class="lib-image">
              <img src="/images/lib-anh.jpg" alt="">
            </div>
          </div>
        </div>
        <div class="content-right bdt-gray">
          <div class="px-2 bg-white container-ads">
            <div class="title-slider">
              <span>Đơn vị liên kết</span>
            </div>
            <div class="all-slider">
              <div class="slider-auto d-flex">
                <div class="slide"><img src="/images/dhhue.jpg" alt=""></div>
                <div class="slide"><img src="/images/dhqghn.jpg" alt=""></div>
                <div class="slide"><img src="/images/dhkt.png" alt=""></div>
                <div class="slide"><img src="/images/dhdn.jpg" alt=""></div>
                <div class="slide"><img src="/images/dhtn.jpg" alt="">
                </div>
                <div class="slide"><img src="/images/dhktqd.jpg" alt="">
                </div>
                <div class="slide"><img src="/images/dhct.jpg" alt=""></div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>