<% layout('base') -%>
    <%- include('./partials/slider.ejs') %>

        <%- include('./contentHome.ejs') %>
            <script src="js/slider.js"></script>
            <script src="js/ads.js"></script>
            <script src="js/changeVideo.js"></script>
            </body>

            </html>